body {
    background: white;
    text-align: center;
}

h1 {
    color: #8abbff;
}

button {
    background-color: #5199FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    transition: .2s ease;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
}

.content {
    margin-top: 200px;
}

.question {
    margin-top: 200px;
}