body {
    background: #dcdde0;
    text-align: center;
    color: #161616;
    margin-top: 10%;
}

a {
    text-decoration: none;
}

.start_button {
    background: #0092e3;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    transition: .2s ease;
    border-radius: 5px;
    font-weight: bold;
}

.start_button:hover {
    transform: scale(1.05);
}

.question_button {
    font-size: 18px;
    background-color: #0092e3;
    border: none;
    padding: 7px 20px;
    color: #161616;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    transition: .2s ease;
    border-radius: 5px;
    font-weight: bold;
    width: 20%;
}

.question_button:hover {
    transform: scale(1.05);
}

.next_button {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.question {
    margin-top: 50px;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 15%;
    margin-right: 15%;
    -moz-box-shadow:0 0 10px gray;
    -webkit-box-shadow:0 0 10px gray;
    box-shadow:0 0 10px gray;
    animation: fadeIn 1s;
}

.answer {
    font-weight: bold;
    font-size: 20px;
    bg-color: blue;
    margin-bottom: 10px;
}

.question_text {
    font-size: 35px;
    color: #161616;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.question_head {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.box {
    animation: fadeIn 1s;
    text-align: left;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    -moz-box-shadow:0 0 10px gray;
    -webkit-box-shadow:0 0 10px gray;
    box-shadow:0 0 10px gray;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.box_header {
    margin-bottom: 40px;
}

.percent {
    color: #0092e3;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: #dcdde0;
    border-radius: 10px;
    color: #161616;
    display: flex;
    justify-content: center;
    transition: .2s ease;
}

.content:hover {
    -moz-box-shadow:0 0 10px #0092e3;
    -webkit-box-shadow:0 0 10px #0092e3;
    box-shadow:0 0 10px #0092e3;
}

.answers {
    margin-left: 20px;
    margin-right: 20px;
}