{% extends 'myQuiz/mainLayout.html' %}

{% block title %}
    Тест
{% endblock %}

{% block content %}
    <div class="question">
        <div class="question_head">
            <h1 class="question_text">{{ question.text }}</h1>
        </div>
        <form action="{% url 'myQuiz:vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="answers">
            {% for ans in question.answer_set.all %}
                <a class="content">
                {% if question.id > 3 %}
                    <input class="form-check-input" type="checkbox" name="ans" id="ans{{ forloop.counter }}"
                           value="{{ ans.id }}" style="margin-top:10px;margin-right: 10px;">
                {% else %}
                    <input class="form-check-input" type="radio" name="ans" id="ans{{ forloop.counter }}"
                           value="{{ ans.id }}" style="margin-top:10px;margin-right: 10px;">
                {% endif %}
                <label class="answer" for="ans{{ forloop.counter }}">{{ ans.text }}</label><br>
                </a>
            {% endfor %}
            </div>
            {% if question.id == 5 %}
                <div class="next_button">
                    <input class="question_button" type='submit' value='Завершить тест'>
                </div>
            {% else %}
                <div class="next_button">
                    <input class="question_button" type='submit' value='Далее'>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
