{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тест</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="question">
        <h1>{{ question.text }}</h1>
        <form action="{% url 'myQuiz:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for ans in question.answer_set.all %}
                {% if question.id == 4 or question.id == 5 %}
                    <input type="checkbox" name="ans" id="ans{{ forloop.counter }}" value="{{ ans.id }}">
                {% else %}
                    <input type="radio" name="ans" id="ans{{ forloop.counter }}" value="{{ ans.id }}">
                {% endif %}
                <label for="ans{{ forloop.counter }}">{{ ans.text }}</label><br>
            {% endfor %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% if question.id == 5 %}
                <input type='submit' value='Завершить тест'>
            {% else %}
                <input type='submit' value='Далее'>
            {% endif %}
        </form>
    </div>
</body>
</html>